.TaskItemsList {
  border-radius: 7px;
  overflow: hidden;
}
.control {
  /* color: dodgerblue; */
  background-color: var(--neutral-very-light-gray);
  font-size: 1.4rem;
  font-weight: 400;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.control__mobile {
  margin-top: 1.5rem;
  border-radius: 7px;
  display: flex;
  justify-content: center;
}
.control__dark {
  /* color: dodgerblue; */
  background-color: var(--Very-Dark-Desaturated-Blue);
}

.items-left {
  width: 7.5rem;
  text-align: right;
}

/* .control button {
  background: none;
  border: none;
  outline: none;
} */
.control,
.control button {
  color: var(--neutral-Dark-Grayish-Blue);
}
.control button:hover {
  cursor: pointer;
  color: var(--neutral-Very-Dark-Grayish-Blue);
}
.control__dark button:hover {
  /* cursor: pointer; */
  color: var(--Light-Grayish-Blue-hover);
}

.selected {
  /* important was used to override the control__dark rule */
  color: var(--primary-bright-blue) !important;
}

.no-items {
  background-color: var(--neutral-very-light-gray);
  border-bottom: 1px solid var(--neutral-Light-Grayish-Blue);
  padding: 10px;
  text-align: center;
}
.no-items__dark {
  color: var(--Light-Grayish-Blue);
  background-color: var(--Very-Dark-Desaturated-Blue);
  border-bottom: 1px solid var(--Very-Dark-Grayish-Blue);
}
