.main {
  min-height: 100vh;
  /* margin-bottom: 5rem; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* height: 500px; */
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}
.main__light {
  background-color: var(--neutral-very-light-gray);
  background-image: url("/src/images/bg-desktop-light.jpg");
}
.main__dark {
  background-color: var(--Very-Dark-Blue);
  background-image: url("/src/images/bg-desktop-dark.jpg");
}

@media screen and (max-width: 690px) {
  .main__light {
    /* background-color: var(--neutral-very-light-gray); */
    background-image: url("/src/images/bg-mobile-light.jpg");
  }
  .main__dark {
    /* background-color: var(--Very-Dark-Blue); */
    background-image: url("/src/images/bg-mobile-dark.jpg");
  }
}

.container {
  margin: 5rem 0;
  width: 90%;
  max-width: 560px;
}

.container > :nth-child(n + 2) {
  box-shadow: -3px 20px 41px -2px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: -3px 20px 41px -2px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: -3px 20px 41px -2px rgba(0, 0, 0, 0.32);
}

header {
  /* for test */
  /* border: 1px solid black; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header svg:hover {
  cursor: pointer;
}
